<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.ican.hgl.databind">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".EventBindingActivity"
                android:label="Event Binding Test">
            <intent-filter>
                <action android:name="action.basic.test"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".CollectionActivity"
                android:label="Collection Test">
            <intent-filter>
                <action android:name="action.collection.test"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".DataBindingActivity"
                android:label="Data Binding Test">
            <intent-filter>
                <action android:name="action.data.binding.test"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".BaseActivity"
                android:label="Select Test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>